<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Document</title>
</head>
<body>
    <h1><%= title %></h1>
    <ul>
        <% Messages.forEach(item => { %>
            <li>
                <h3><%= item.text %></h3>
                <p><%= item.user %></p>
                <p><%= item.added %></p>
            </li>
            
        <% }); %>
    </ul>
</body>
</html>